.project

OS/*.iso
RAMDISK/*.img
RAMDISK/rd/*

**/*.o
**/*.d
**/MONITOR/SSD_MONITOR_PM/Makefile
**/MONITOR/SSD_MONITOR_PM/moc_monitorform.cpp
**/MONITOR/SSD_MONITOR_PM/ssd_monitor_p
**/MONITOR/SSD_MONITOR_PM/ssd_monitor_p.pro.user
**/MONITOR/SSD_MONITOR_PM/ui_monitorform.h
**/QEMU/Makefile.target
**/QEMU/config-host.h
**/QEMU/config-host.mak
**/QEMU/hw/common.h
**/QEMU/hw/firm_buffer_manager.c
**/QEMU/hw/firm_buffer_manager.h
**/QEMU/hw/ftl.c
**/QEMU/hw/ftl.h
**/QEMU/hw/ftl_cache.c
**/QEMU/hw/ftl_cache.h
**/QEMU/hw/ftl_gc_manager.c
**/QEMU/hw/ftl_gc_manager.h
**/QEMU/hw/ftl_inverse_mapping_manager.c
**/QEMU/hw/ftl_inverse_mapping_manager.h
**/QEMU/hw/ftl_mapping_manager.c
**/QEMU/hw/ftl_mapping_manager.h
**/QEMU/hw/ftl_perf_manager.c
**/QEMU/hw/ftl_perf_manager.h
**/QEMU/hw/ftl_type.h
**/QEMU/hw/ssd.c
**/QEMU/hw/ssd.h
**/QEMU/hw/ssd_io_manager.c
**/QEMU/hw/ssd_io_manager.h
**/QEMU/hw/ssd_log_manager.c
**/QEMU/hw/ssd_log_manager.h
**/QEMU/hw/ssd_trim_manager.c
**/QEMU/hw/ssd_trim_manager.h
**/QEMU/hw/ssd_util.h
**/QEMU/hw/vssim_config_manager.c
**/QEMU/hw/vssim_config_manager.h
**/QEMU/libhw32/Makefile
**/QEMU/libhw64/Makefile
**/QEMU/libhw64/libqemuhw64.a
**/QEMU/libqemu_common.a
**/QEMU/pc-bios/optionrom/extboot.bin
**/QEMU/pc-bios/optionrom/multiboot.bin
**/QEMU/qemu-img
**/QEMU/qemu-img-cmds.h
**/QEMU/qemu-io
**/QEMU/qemu-nbd
**/QEMU/x86_64-softmmu/Makefile
**/QEMU/x86_64-softmmu/config.mak
**/QEMU/x86_64-softmmu/gdbstub-xml.c
**/QEMU/x86_64-softmmu/libqemu.a
**/QEMU/x86_64-softmmu/qemu-monitor.h
**/QEMU/x86_64-softmmu/qemu-options.h
**/QEMU/x86_64-softmmu/qemu-system-x86_64
**/QEMU/x86_64-softmmu/ssd_monitor
**/QEMU/x86_64-softmmu/data/block_state_table.dat
**/QEMU/x86_64-softmmu/data/empty_block_list.dat
**/QEMU/x86_64-softmmu/data/inverse_mapping.dat
**/QEMU/x86_64-softmmu/data/mapping_table.dat
**/QEMU/x86_64-softmmu/data/perf_manager.dat
**/QEMU/x86_64-softmmu/data/ssd.conf
**/QEMU/x86_64-softmmu/data/valid_array.dat
**/QEMU/x86_64-softmmu/data/victim_block_list.dat
