**/*.o
**/*.d

MONITOR/SSD_MONITOR_PM/Makefile
MONITOR/SSD_MONITOR_PM/moc_monitorform.cpp
MONITOR/SSD_MONITOR_PM/ssd_monitor_p
MONITOR/SSD_MONITOR_PM/ui_monitorform.h
QEMU/config-host.h
QEMU/config-host.mak
QEMU/libhw32/Makefile
QEMU/libhw64/Makefile
QEMU/libhw64/libqemuhw64.a
QEMU/libqemu_common.a
QEMU/qemu-img
QEMU/qemu-io
QEMU/qemu-nbd
QEMU/x86_64-softmmu/Makefile
QEMU/x86_64-softmmu/config.mak
QEMU/x86_64-softmmu/libqemu.a
QEMU/x86_64-softmmu/qemu-system-x86_64